body {
  background-color: cornflowerblue;}
.text {
  color: white;
  text-align: center;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: bisque;
  font-size: larger;
  text-align: center;
}

